
.orders {
    width: 100%;
}

.orders .orderslist{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.orders .orderslist ul li{
    list-style-type: none;
    display: flex;
}

.orders .orderslist .ordercard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    padding: 6px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.orders .orderslist .ordercard .content{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 0.2rem;
}

.orders .orderslist .ordercard .statusOrder{
    font-size: 32px;
    padding: 20px;
    border-radius: 12px;
}


.recebido-color {
    background-color: #4CAF50; /* Verde */
    color: white;
  }
  
  .preparo-color {
    background-color: #FFC107; /* Amarelo */
    color: black;
  }
  
  .retirada-color {
    background-color: #2196F3; /* Azul */
    color: white;
  }
  
  .rota-color {
    background-color: #FF5722; /* Laranja */
    color: white;
  }
  
  .finalizado-color {
    background-color: #607D8B; /* Cinza Azulado */
    color: white;
  }
  
  .cancelado-color {
    background-color: #FF5252; /* Vermelho */
    color: white;
  }